@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

* {
  box-sizing: border-box;
}
/* body { padding-top: 70px; } */

html,
body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  background-color: rgb(217, 219, 218);
}
/*STAR RATING STYLES */
.stars {
  border: 0;
  margin: 20px 0 0;
  padding: 0;
  font-size: 100%;
}

.stars li {
  float: left;
  list-style: none;
  width: 20%;
  max-width: 40px;
  line-height: 0;
  margin-bottom: 10px;
  text-align: center;
  padding: 0 5px;
  box-sizing: border-box;
}

.stars li:first-child {
  margin-left: -2px;
}

.stars li:hover {
  cursor: pointer;
}

.stars .star {
  width: auto;
  height: 100%;
  fill: #3658a25f;
}

.stars .selected .star {
  fill: #2d4f9a;
}

.course--reviews--form .stars {
  margin-bottom: 10px;
}

.home-page-catergory-holder {
  border: 1px solid blue;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.jumbo-bk {
  background-image: url('https://images.unsplash.com/photo-1444852538915-ac95232916dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
}

/* Animations */
.fadein {
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.spinning {
  animation: spin 1.5s infinite linear;
}

.spinning svg {
  border-radius: 50%;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
